apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: ocoa
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: ocoa
    app.kubernetes.io/part-of: byoc-app-tbmy
  name: ocoa
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: ocoa
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: ocoa
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/byoc-vtll-tenant/byoc-app-tbmy/ocoa@sha256:64b77d8b7d5cdb9019b1db5a617c1243edb1c6bc9dcaa709de2d95c0cdd39e7e
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
